<h1> <%= @title %> </h1>

<p>A conflict as old as time itself.</p>

<p>The origins of the struggle for supremacy between Rock, Paper and Scissors are lost to modern scholars, but a Mesopotamian clay pot depicting three figures holding a rock, a sharpened stick and a leaf suggest the battle has raged since the dawn of human civilisation. Maybe longer...</p>