<h1> <%= @title %> </h1>


<p>Welcome to Rock, Paper, Scissors! The eternal struggle between the forces of good, evil, and scissors. Here we will decide once and for all who will reign supreme.</p>

<p>To play: click on the 'Game' link at the top of the page then in the browser, type"/" followed by Player 1's choice of Rock, Paper or Scissors, then "/", then Player 2's choice. 
</p>

<p> Click on 'Eternal Struggle for the history of Rock, Paper, Scissors.' </p>

<p>Let battle commence!</p>